
#content div:hover {
    transform: translate(0px, -5px)
}

#content div h4 {
    margin-top: 5px;
    margin-bottom: 10px;
}
.content div h1{
    text-align: center;
    margin: 30px;
}
#content div {
    padding-bottom: 7px;
    border-radius: 1.5em;
    text-align: center;
    background-color: #181b23;
}
#tradesSection h1{
    text-align: center;
}


