
.title {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: 2px solid #181b23;
    border-radius: 12px 12px;
    height: 1vh;
}

#pointsAuj tr td:first-of-type {
    text-align: center;
}

#pointsAuj tr td {
    height: 9vh;
    padding: 5px;
}

#dernierEchange tr td {
    text-align: center;
}

#content a {
    width: 100%;
    text-decoration: none;
    color: white;
}

#content a #dernierEchange {
    width: 100%;
}
#dernierEchange{
    transition: all 0.4s ease 0s;
}
#dernierEchange:hover {
    transform: translate(0px, -5px);
}
.latable{
    width: 100%;
    height: 100%;
    border: 5px solid #181b23;
    border-radius: 12px 12px;
    background-color: #181b23;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 5px;
    transition: all 0.4s ease 0s;
    border-collapse: collapse;
}
.latable:hover {
    transform: translate(0px, -5px);
}
.latable td, .latable th{
    border: 2px solid black;
}
#content > div > table > tbody > tr:nth-child(1) > td{
    background-color: black;
    font-weight: bold;
}
#top10Points td{
    text-align: center;
}
#top10Points td, #top10Points th{
    border: 2px solid black;
}
#top10Points{
    border-collapse: collapse;
}
