
.title {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: 2px solid #181b23;
    border-radius: 12px 12px;
    height: 1vh;
}

#pointsAuj tr td:first-of-type {
    text-align: center;
}

#pointsAuj tr td {
    height: 9vh;
    padding: 5px;
}

#dernierEchange tr td {
    text-align: center;
}

#content a {
    width: 100%;
    text-decoration: none;
    color: white;
}

#content a #dernierEchange {
    width: 100%;
}

#dernierEchange:hover {
    transform: translate(0px, -5px);
}

